.header-small {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;

  &__line {
    width: 100px;
    height: 1px;
    background: rgba(184, 193, 236);
  }
  &__text {
    font-weight: 300;
  }

  @include mobile {
    font-size: 12px;
    &__line {
      width: 70px;
    }
  }
}
