.text-cards {
  width: 18rem;
  height: auto;
  border-radius: 0.5rem;
  padding: 1.5rem;
  color: black;

  &__heading {
    font-size: 20px;
    font-weight: 500;
    text-decoration: underline;
    margin-bottom: 10px;
  }

  &__text {
    font-size: 16px;
  }
}
