.home-projects {
  padding: 100px 12% 0 12%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;

  @include mobile {
    padding-top: 20px;
    gap: 10px;
  }
}

.home-projects {
  &__text {
    position: relative;

    p {
      font-size: 26px;
      line-height: 28px;
      width: 60%;
      margin-bottom: 10px;
      margin-top: 10px;
      font-weight: 500;

      span {
        color: $bg-pink;
        font-weight: 600;
      }
    }

    h1 {
      font-size: 70px;
      line-height: 75px;
      margin-top: 20px;

      span {
        color: $bg-pink;
        font-weight: 500;
      }
    }

    @include mobile {
      p {
        font-size: 16px;
        line-height: 20px;
        width: 100%;
      }

      h1 {
        font-size: 34px;
        line-height: 38px;
      }

      .arrow {
        display: none;
      }
    }

    .boxes {
      position: absolute;
      right: 0;
      opacity: 0.5;
      width: 40%;
    }

    .arrow {
      margin-top: 10px;
      margin-left: 24rem;
      float: left;
      transform: rotate(90deg);

      img {
        width: 3.5rem;
        animation: translate-right 2s infinite;
      }

      @keyframes translate-right {
        0%,
        100% {
          transform: translateX(7px);
        }
        50% {
          transform: translateX(-7px);
        }
      }

      @include mobile {
        justify-content: center;
        img {
          width: 3rem;
        }
      }
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;

    .card-item {
      cursor: default;
      box-shadow: 0 15px 30px -15px hsla(0, 0%, 100%, 0.3);
      transition: all 0.3s;

      &.item-1 {
        z-index: 1;
      }

      &.item-2 {
        position: relative;
        left: 10rem;
        top: -30px;
        z-index: 2;
      }

      &.item-3 {
        position: relative;
        top: -60px;
        z-index: 3;
      }

      &:hover {
        transform: scale(1.1);
        z-index: 4;
      }

      @include mobile {
        &.item-1,
        &.item-2,
        &.item-3 {
          top: 0;
          left: 0;
        }
        margin: 7px 0;
      }
    }
  }
}

.home-projects--list {
  padding: 100px 12% 20px 12%;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include mobile {
    grid-template-columns: 1fr;
  }
}

.home-projects--show-more {
  display: flex;
  justify-content: center;
}
